/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.list{
  float:right;
  margin-right:80px ;
  margin-top: 30px;
  position: relative;
  left:5px;
}
.nav-item{
  margin-left: 20px;
  color: #fff;
  cursor: pointer;

}
svg{
width:20px;
height:auto;
}
.nav-item-active{
  margin-left: 20px;
  background-color: #fff;
  color: black;
  padding: 5px 10px;
}
header{
  background-color: #4618fe;
  height:500px;

}
.logo{
  margin-top: 20px;
  margin-left: 20px;
}
.header-text {
  color:#fff;
  margin-top: 100px;
  margin-left: 90px;
  font-weight: 100;
  font-size: 30px;
  text-decoration: none;
}
.header-text p{
  margin-top: 20px;
  font-size: 20px;

}
.header-image{
  float:right;
  position: relative;
  bottom: 260px;
}
.companies{
  margin-left: 90px;
}
.company-items{
  margin-right: 20px;
  color:black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 20px;
}
.api-heading{
  margin-top: 80px;
  margin-left: 90px;
  font-weight:900;
  font-size: 40px;
}
.cards{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 90px; 
  justify-items:center ;
  gap:20px;
  width: 190px;

}
.cards p{
  padding: 20px;
  font-size: 14px;
}
.cards h3{
  font-size: 20px;
  padding-left: 10px;
  margin-top: 10px;
}
.card-logo{
  padding-top: 5px;
}
.card-body {
  font-size: 12px;
}
.card {
  width:350px;
  height:220px;
  margin-left: 40px;
  padding: 20px;
  margin-right: 40px;
  background-color: transparent;
}

.card-active{
  width:350px;
  height:250px;
  background-color: #fff;
  box-shadow: 0 0 10px 6px rgba(0,0,0,.04);
  padding: 20px;
}
.card-active h3{
 font-size: 20px;
}
.blog-heading{
  margin-left: 90px;
  margin-top: 50px;
  font-weight:900;
  font-size: 20px;
}

.blog-cards{
  display: flex;
  margin-top: 40px;
  margin-left: 70px;
  justify-content: space-between;
  
}
.blog-author{
  position: absolute;
  top: 124px;
  
}
.blog-bottom{
  position: relative;
  top:280px;
  right: 50px;
}
/* .blog-author{
  position: relative;
  top:150px;
} */
.blog-card{
  display: flex;
  width:40%;
  height: 287px;
  background-color: #fff;
  box-shadow: 0 0 10px 6px rgba(0,0,0,.04);
  border-top-left-radius: 50px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius:20px ;

}
.blog-cards>div+div{
  position: relative;
  right:100px;
}


.blog-card-bottom-image{
  position: relative;
  right:100px;
  bottom: 30px;
}
.blog-author{
  position: relative;
  right:70px;
  bottom:120px;
  font-size: 12px;
  font-weight: 900;
}
.blog-content{
  margin-left: 20px;
  width:500px;
  margin-top: 30px;
  margin-left: 40px;;
}
.blog-content h6{
  color:#4618fe;
}
.blog-content h3{
margin-top: 20px;
}
.blog-content small{
  margin-top: 20px;;
}
.faq-section{
  display: flex;
  height: 250px;
  width: 100%;
  margin-top: 40px;

}
.faq-section{
  background-color: #e9edff;
  padding: 50px 0;

}
.faq-content{
  margin-left: 90px;
}
.faq-content h4{
  margin-top: 20px;

}
.faq-content button{
  
  margin-top: 20px;
  background-color: #4618fe;
  color: #fff;
  padding: 10px;
  border: 0px;
  border-radius: 8px;
}
.faq-image{
  position: relative;
  left:230px;
  bottom: 30px;
}
.download-content h1{
  font-weight:900;
  font-size: 40px;
}
.download-content span{
  font-weight:400;
  font-size: 35px;
}
.download-section{
  display: flex;
  margin-top: 60px;
}
.download-content{
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 90px;
}
.download-email{
  position: relative;
  top:60px;
  left:400px;
 
}
.download-email button{
  background-color: #4618fe;
  border: 0px;
  color: #fff;
  padding: 20px;
  border-radius: 50px;
  width:170px;
  position: relative;
  right:50px;
  
}
.download-email input{
  background-color:#e9edff;
  border: 0px;
  color: black;
  padding: 20px;
  border-radius: 50px;
  width:370px;

}
.footer-section{
  background-color: #4618fe;
  height:300px;
  color: #fff;
}

.footer-right{
  float: right;
}
.footer-left{
  float: left;
}
.list{
  display: flex;
  list-style: none;
  position: relative;

}
.list .list-items{
  margin-left: 20px;
  margin-top: 150px;
  position: relative;
  right: 150px;
}
.footer-logo{
  margin-top: 100px;
  margin-left:90px ;
}
.footer-right{
  margin-top: 50px;
  margin-right: 50px;
}
.logos-list .list-items{
  list-style: none;
  margin-left: 20px;

}
.logos-list{
  display: flex;
  position: relative;
  top:120px;
  left:150px;
}
.footer-logos{
  position: relative;
  right:30px;
  padding: 10px;
}